<h1>All Dogs</h1>

<%= form_with url: search_dogs_path, method: :get do |form| %>
  <p>Search for dog name:</p>
  <%= form.text_field :keywords %> 

  <%= label_tag :breed_id, "Filter by breed:" %>
  <%= form.collection_select :breed_id, Breed.all.order(:name), :id, :name, prompt: "All breeds" %>

  <%= form.submit "Search" %>
<% end %>

<ul>
    <% @dogs.each do |dog| %>
    <li><%= link_to dog.name, dog %></li>
    <% end %>
</ul>

<%= paginate @dogs %>