<h1>Images of All Dogs Named "<%= @dog.name %>"</h1>

<h2>Breed:<%= link_to @dog.breed.name, @dog.breed %></h2>

<div>
    <% @dogs.each do |dog| %>
        <% dog.owners.each do |owner| %>
        <p style="margin: 0px">Owner Name: <%= owner.name %>, Email: <%= owner.email %> </p>
        <% end %>

        <%= link_to image_tag(dog.image_url, alt: "Image of #{dog.name}", :size => "400x400"), dog %>
    <% end %>
</div>