<h1>Images of All Dogs Named "<%= @dog.name %>"</h1>

<h2><%= link_to @dog.breed.name, @dog.breed %></h2>

<ul>
    <% @dogs.each do |dog| %>
    <div>
        <% dog.owners.each do |owner| %>
        <p>Owner Name: <%= owner.name %>, Email: <%= owner.email %> </p>
        <% end %>

        <%= link_to image_tag(dog.image_url, alt: "Image of #{dog.name}"), dog %>
    </div> 
    <% end %>
</ul>