<h1><%= @breed.name %></h1>
<h2>This breed has <%= @breed.dogs.count %> dogs.</h2>

<div>
    <% @breed.dogs.each do |dog| %>
    <div style="margin: 0px">
      <%= link_to "Dog name: #{dog.name}", dog %>

      <% dog.owners.each do |owner| %>
      <div>Owner: <%= owner.name %>, email: <%= owner.email %></div>
      <% end %>

      <%= link_to image_tag(dog.image_url, alt: "Image of #{dog.name}", :size => "400x400"), dog %>
    </div>
    <% end %>
</div>
